
:root{
    --grid-size: 4;
    --cell-size: 20vmin;
    --cell-gap: 2vmin;
}
body{
    background-color: #222;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}
#game-board{
   
    display: grid;
    background: #ccc;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size),var(--cell-size));
    gap: var(--cell-gap);
    border-radius: var(--grid-size);
    position: relative;
    padding: var(--cell-gap);
}
.cell{
    background-color: #9b9a9a;
    border: 2vmin;
    border-radius: 8px;
}
.tile{
    --x:2;
    --y:2;
    position: absolute;
    display: flex;
    height: var(--cell-size);
    width: var(--cell-size);
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));   
    background-color: violet;
    font-weight: bold ;
    
}